extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title New Post
  
block content
  h1(class='main-title') New Post
  div(class='error') #{error}
  form(method='post' name='blogpost')
    label Subject
    br
    input(type='text' class='post-input' name='subject' style='width: 100%;' required)
    br
    br
    label Blog
    br
    textarea(name='content' class='new-post' rows='15' cols='50' required)
    br
    input(type='submit' value='Submit' class='btn btn-default')
