html
  head
    title New Post
    link(rel='stylesheet' type='text/css' href='/stylesheets/newpost.css')
    script(src='/javascripts/validate.js')
  body
    h1 New Post
    br
    form(method='post' action='/' name='blogpost')
      label Subject
      br
      input(type='text' name='subject')
      br
      br
      label Blog
      br
      textarea(name='content' rows='15' cols='50')
      br
      input(type='button' value='Submit' onclick='submitPost()')
      br
      span(class='error') #{error}