extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title New Post
  
block content
  h1.main-title New Post
  div.error #{error}
  form(method='post' name='blogpost')
    label Subject
    br
    input.post-input(type='text' name='subject' style='width: 100%;' required)
    br
    br
    label Blog
    br
    textarea.new-post(name='content' rows='15' cols='50' required)
    br
    input.btn.btn-default(type='submit' value='Submit')
