extends layout

block header
  title New Post
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  
block content
  h1 New Post
  br
  form(method='post' action='/' name='blogpost')
    label Subject
    br
    input(type='text' name='subject' required)
    br
    br
    label Blog
    br
    textarea(name='content' rows='15' cols='50' required)
    br
    input(type='submit' value='Submit')