extends layout

block header
  title Welcome!
  
block content
  h1(style='color: black') Welcome, #{name}
  img(src='http://mediad.publicbroadcasting.net/p/wjct/files/styles/card_280/public/201304/sucess%20kid%20twitter.jpeg')